/*********** OfferPage ****************/

.offerPage-main {
  background-color: #ebedee;
}

.offer-img {
  width: 1224px;
  display: flex;
  justify-content: space-around;
}

.offer-img img {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.offer-img > div {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  background-color: white;
}

.detail-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.detail-div > span {
  margin-right: 40px;
}

.detail-div > p {
  color: #807a7a;
}

.offer-info > div > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.detail-div3 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.detail-div3 img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.detail-div2 > button {
  width: 300px;
  height: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: #2db0ba;
  color: white;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  cursor: pointer;
  margin: 40px;
}
