/********** GENERAL *************/

a {
  color: inherit;
  text-decoration: none;
}

.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.text {
  font-size: 30px;
}

.error-message p {
  color: red;
  margin-top: 10px;
  font-size: 25px;
  width: 600px;
  display: flex;
  justify-content: center;
}
